.navbar-toggler[b-7831hfb3uy] {
}

.top-row[b-7831hfb3uy] {
    min-height: 3.5rem;
}

.navbar-brand[b-7831hfb3uy] {
    font-size: 1.1rem;
}

.bi[b-7831hfb3uy] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.6rem;
    background-size: cover;
}

.nav-item[b-7831hfb3uy] {
    font-size: 0.9rem;
}

    .nav-item:first-of-type[b-7831hfb3uy] {
        padding-top: 0.4rem;
    }

    .nav-item:last-of-type[b-7831hfb3uy] {
        padding-bottom: 0.4rem;
    }

    .nav-item[b-7831hfb3uy]  a {
        color: white;
        border-radius: 2px;
        height: 2.8rem;
        display: flex;
        align-items: center;
    }

        .nav-item[b-7831hfb3uy]  a.active {
            background-color: rgba(255,255,255,0.37);
            color: white;
        }

        .nav-item[b-7831hfb3uy]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-7831hfb3uy] {
        display: none;
    }

    .collapse[b-7831hfb3uy] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-7831hfb3uy] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
